---
BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Right
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignent: Left
SpaceAfterCStyleCast: true
...
