---
BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: Never
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignent: Left
SpaceAfterCStyleCast: true
...
