---
BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
SpaceAfterCStyleCast: true
...
---
BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: Never
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignent: Left
...
