:root {
  --fuente-principal: 'Roboto', sans-serif;
  --fuente-public-sans: 'Public Sans', sans-serif;
  --azul-primario: "#0078F0";
  --azul-hover: #5197e2
}

html {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  font-family: var(--fuente-principal);
  margin: 0px;
  height: 100%;
}

#holder {
  min-height: 100%;
  position:relative;
}

#body {
  padding-bottom: 5vh;
}

#entrar {
  margin: auto;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}


label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #ccc;
  font-family: var(--fuente-public-sans);
}
.form-field label {
  margin-top: 30px;
}
.form-field input{
  border: none;
  display: block;
  width: 100%;
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  font-family: var(--fuente-ibm-plex);
  box-sizing: border-box;
}


footer {
  text-align: center;
  font-family: var(--fuente-public-sans);
  background-color: #ccc;
  height: 5vh;
  position: absolute;
  width: 100vw;
}

h1 {
  margin-bottom: 70px;
  font-family: var(--fuente-public-sans);
  color: #0078F0;
  margin-left: 5vw;
}

h2 {
  text-align: center;
  margin-bottom: 70px;
  font-family: var(--fuente-public-sans);
  color: #0078F0;
}
#username,
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-image: url(".././assets/images/eye.png");
  background-repeat: no-repeat;
  background-position: right center;
}

#username {
  background-image: url(".././assets/images/person.png");
}

button[type="submit"] {
  display: block;
  background-color: #0078F0;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-family: var(--fuente-principal);
  font-style: normal;
  font-weight: 5000;
  color: #0078F0;
  background: rgba(0, 120, 240, 0.1);
  border: 1px solid #0078F0;
  border-radius: 10px;
}

button[type="submit"]:hover {
  background-color: #6ea9e7;
  color: #f2f2f2;
  font-weight: 1000;
} 


/** Principal Page **/

.principal_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

#principal_container h1 {
  font-size: 26px;
  line-height: 31px;
  color: rgba(0, 120, 240, 0.5);
}

#principal_container h2 {
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8vh;

}

.botones button {
  width: 100vh;
  height: 20vh;
  background-color: #0078F0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 5px rgba(0, 120, 240, 0.25);
  border-radius: 10px;
  background: rgba(0, 120, 240, 0.1);
  border: 1px solid #0078F0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: #0078F0;
  cursor: pointer;
}

/** Generic Back Button, used on all pages**/
button#regresar {
  box-sizing: border-box;
  position: absolute;
  width: 51px;
  height: 50px;
  left: 58px;
  top: 10vh;
  background: url(".././assets/images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

button.back-btn {
  box-sizing: border-box;
  position: absolute;
  width: 51px;
  height: 50px;
  left: 58px;
  top: 10%;
  
  background: url(".././assets/images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}


/** Modal style **/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: var(--fuente-public-sans);
  flex-direction: column;
}

.modal-header {
  position: relative;
  background: #fff;
  padding: 20px;
  text-align: center;
  width: 70vh;
}

.modal-header h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #6ea9e7;
}

.modal-header h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #242323;
  margin-top: 10%;
}

.modal-body {
  background: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 70vh;
}

.modal-body button {
  margin: 10px;
  padding: 10px 20px;
  background: #0078F0;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;

  background-color: #0078F0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 5px rgba(0, 120, 240, 0.25);
  border-radius: 10px;
  background: rgba(0, 120, 240, 0.1);
  border: 1px solid #0078F0;

  font-size: 16px;
  font-family: var(--fuente-principal);
  font-style: normal;
  font-weight: 5000;
  color: #0078F0;
}

.modal-body button:hover {
  background-color: #6ea9e7;
  color: #f2f2f2;
  font-weight: 1000;

}


.close-modal-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
}

/** Requests (Solicitudes.html)**/

div#request-container {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  justify-content: center;
  align-items: center;
}

#employee-requests h1 {
  /* font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: flex-end;
  color: rgba(0, 120, 240, 0.5); */
  font-size: 26px;
  line-height: 31px;
  color: rgba(0, 120, 240, 0.5);
}

#consultas h1, h2 {
  font-size: 26px;
  line-height: 31px;
  color: rgba(0, 120, 240, 0.5);
}

.solicitud {
  width: 100vh;
  max-width: 800px;
  height: auto;
  left: 94px;
  top: 214px;
  display: flex;
  flex-flow: row;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1), 0px 8px 53px rgba(0, 120, 240, 0.25);
  border-radius: 10px;
  padding: 30px;
}

.solicitud_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
}

.submit-btn {
  width: 30vh;
  height: 10vh;
  background-color: #0078F0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 5px rgba(0, 120, 240, 0.25);
  border-radius: 10px;
  background: rgba(0, 120, 240, 0.1);
  border: 1px solid #0078F0;
  margin-bottom: 8vh;

  font-size: 16px;
  font-family: var(--fuente-principal);
  font-style: normal;
  font-weight: 5000;
  color: #0078F0;

}

.submit-btn:hover {
  background-color: #6ea9e7;
  color: #f2f2f2;
  cursor: pointer;
}

#reload-requests{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 20vh;
}

.aprobado {
  font-weight: 50000;
  color: rgb(18, 132, 18);
}
.revision {
  color: rgb(231, 179, 24);
}
.rechazado {
  color: rgb(167, 33, 9);
}



/** Blank Text Page **/

div#page-blank-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20vh;
}


button[type="submit"] {
  display: block;
  background-color: #0078F0;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-family: var(--fuente-principal);
  font-style: normal;
  font-weight: 5000;
  color: #0078F0;
  background: rgba(0, 120, 240, 0.1);
  border: 1px solid #0078F0;
  border-radius: 10px;
  max-width: 200px;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #6ea9e7;
  color: #f2f2f2;
  font-weight: 1000;
}


button[type="cancel"] {
  display: block;
  background-color: #fff;
  color: #ff5b5b;
  padding: 10px;
  border: 1px solid #ff5b5b;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-family: var(--fuente-principal);
  font-style: normal;
  font-weight: 5000;
  color: #ff5b5b;
  max-width: 200px;
  transition: background-color 0.3s ease-in-out;
}

button[type="cancel"]:hover {
  background-color: #ea4b4b;
  color: #fff;
  font-weight: 1000;
}

button.submit:hover {
  background-color: #6ea9e7;
  color: #f2f2f2;
  font-weight: 1000;
}

form.form-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
form button {
  margin-top: 30px ;
}

button.deny-btn,
button.cancel-btn {
  display: block;
  background-color: #fff;
  color: #ff5b5b;
  padding: 10px;
  border: 1px solid #ff5b5b;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-family: var(--fuente-principal);
  font-style: normal;
  font-weight: 5000;
  color: #ff5b5b;
  max-width: 200px;
  transition: background-color 0.3s ease-in-out;
}
button.deny-btn:hover,
button.cancel-btn:hover {
  background-color: #ea4b4b;
  color: #fff;
  font-weight: 1000;
}

button.index-btn {
  display: block;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--fuente-principal);
  font-style: normal;
  font-weight: 5000;
  color: #0078F0;
  background: rgba(0, 120, 240, 0.1);
  border: 1px solid #0078F0;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  width: 100vh;
  height: 20vh;
  margin-top: 30px;
}

button.index-btn:hover {
  background-color: #6ea9e7;
  color: #f2f2f2;
  font-weight: 1000;
}

#gerente-btns {
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}